[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
click = "*"
pysam = "*"
scipy = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = ">=3.7"
